@font-face{
  font-family: 'kaiyako2'; /*a name to be used later*/
  src: url('../Kaiyako05-Regular.otf'); /*URL to font*/
}
@font-face{
  font-family: 'kaiyako6'; /*a name to be used later*/
  src: url('../Kaiyako06.otf'); /*URL to font*/
}

$purple: #6133ac;

.kaiyako{
  font-family: "kaiyako6";
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $purple;
  text-align: center;
  color: white;
}
header{
  width: 80%;
  .subheader{
    display: flex;
    justify-content: space-around;
  }
}
h1{
  font-family: "kaiyako6";
}
button{
  background-color: #000;
}
main{
  width: 800px;
  textarea{
    font-family: "kaiyako6", fantasy;
    background-color: #000;
    width: 95%;
    max-width: 95%;
    min-height: 500px;
  }
}
.right{
  background-color: #000;
  min-height: 5px;
}
.interface{

  .left, .right{
    min-height: 90vh;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
  }
}
#output{
  text-align: left;
  span{
    border-radius: 5px;
    padding: 2px;
    background-color: #555;
  }
  .noun{
    background-color: #55e;
  }
  .adjective{
    background-color: #e59;
  }
  .verb{
    background-color: #eb4;
    color: $purple;
  }
  .word{
    background-color: #86a;
  }
}
